@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
    font-family: "Poppins", sans-serif;
}

.main-css-bg {
    background-color: $background !important;
}

.header_sec {
    background: $header-bg;
    border-bottom: 2px solid $white;

    .navbar-brand {
        // width: 100%;
        // display: flex;
        // margin: auto;
        // justify-content: center;

        a {
            color: $white !important;
            font-size: 16px;

            img {
                width: 80px;

                @media ($breckpoint_LG) {
                    width: 54px;
                }
            }
        }
    }

    .navbar-nav {
        a {
            color: $white !important;
            font-size: 16px;
        }
    }
}

.button {
    position: relative;
    padding: 8px 20px !important;
    font-family: inherit;
    background: $button-bg;
    border: 1px solid $bottom-bg;
    font-size: 14px;
    font-weight: 600;
    color: $txt-theme !important;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 0px !important;
    width: fit-content;
    z-index: 1;
}

// .button:hover span {
//     color: $txt-theme;
//     background: $bg-gradient;
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

.button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: -110%;
    top: -0%;
    background: $primary-color;
    pointer-events: none;
    margin: auto;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: -1;
}

.button:hover {

    border-image: $bg-gradient;
    border-image-slice: 1;
    font-size: 14px;
}

.button:hover::before {
    left: 110%;
}

.button:active {
    scale: 0.95;
}

.skills_sec {
    border-bottom: 1px solid $border-color;
}

.bottom_bg {
    background: $header-bg !important;
    margin: 0px !important;

    .bottom_sec {
        text-decoration: none;
        // border-bottom: 2px dotted $white;
        color: $txt-theme;

        &:hover {
            color: $txt-theme;
        }
    }
}

.modal_profile_details {
    .modal-content {
        background: $background;
        border: 1px solid $border-color;

        .modal-header {
            color: $white;

            svg {
                color: $txt-theme;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .modal-title {
            color: $txt-theme;
        }
    }

    .modal-body {
        color: $txt-theme;
        h4 {
            color: $white;
        }

        svg {
            color: $primary-color;
        }
    }



}

.top_sec {
    svg {
        color: $primary-color;
    }
}

.your_name {
    color: $primary-color;
}

.location {

    color: $primary-color;
}

.text_color {
    color: $txt-theme;
}

.text_black {
    color: $black;
}

.textarea_sec {
    background: $background;
    color: $txt-theme;

    &:focus {
        background: $background;
        outline: none !important;
        box-shadow: none !important;
        color: $txt-theme;
    }
}

.modal-footer {
    border-top: 0px !important;
}

.heading {
    font-size: 16px;
}

.color-blue {
    color: #17a2b8;
}

.bg-grey {
    background-color: #F8F9FA;
}

/* ========== Scrollbar ========== */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ============================== */
.top-image {
    height: 300px;
    // background-image: url("../Images/banner_res.png");
    background-image: $banner-bg;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-size: cover;

    @media ($breckpoint_XXL) {
        background-position: right;
        height: 250px;
    }

    @media ($breckpoint_SM) {
        height: 145px;

    }



}


.img-column {
    height: 75px;
}

.profile-image {
    height: 150px;
    width: 150px;
    position: relative;
    top: -75px;
    border: 4px solid white;
    object-fit: cover;
    border-radius: 50%;

    @media ($breckpoint_SM) {
        height: 100px;
        width: 100px;
        top: -50px;

    }
}

/* ========== Edit Button ========== */
.edit {
    margin: 10px;
    padding: 5px;
    color: $primary-color;
    transition: 0.4s;
    border: none;

    @media ($breckpoint_SM) {
        margin: 5px;
    }
}

.edit:hover {
    color: $primary-color;
    background-color: $white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
}

/* ========== Tag ========== */
.tag {
    padding: 2px 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
}

.technology {
    padding: 2px 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    font-size: 14px;
}

.dropdown-list {
    min-height: 200px;
    overflow-y: scroll;
}

.delete {
    transition: 0.4s;
}

.delete:hover {
    color: #DC3545;
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
}



/* ========== PDF ========== */

.font-bold {
    font-size: 40px;
    font-weight: 900;
}

.font-thin {
    font-size: 40px;
    font-weight: 100;
}

.firstname {
    position: relative;
    top: 20px;
    font-size: 32px;
}

.title {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;
    z-index: 1;
    padding: 5px 10px;

    @media ($breckpoint_LG) {
        font-size: 18px;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $primary-color;
        border-radius: 16px;
    }
}

.bg-1 {
    background-color: $data-bg;
}

.bg-2 {
    background-color: rgb(49, 49, 49);
}

.bg-3 {
    background-color: rgb(77, 77, 77);
}

.pdf {
    width: 210mm;
    height: 100vh;
}

.pdf-profile-image {
    height: 150px;
    width: 150px;
    border: 4px solid white;
    object-fit: cover;
    border-radius: 50%;
}

.preview_btn {
    display: flex !important;
    align-items: center;
    justify-content: center;

    .button {
        margin: 20px 0px;
    }
}

//preview section css


.preview_sec {
    background: #c4d3e6;
    padding: 30px 0px 0px 0px;

    .preview_inner {
        .inner_row {
            height: 100vh;
            width: 900px;
            margin: 0 auto;
            display: flex;

            @media ($breckpoint_LG) {
                height: auto;
                width: 100%;
            }

            @media ($breckpoint_SM) {

                display: block;
            }

            .left_sec {
                width: 40%;
                text-align: center;
                background: $header-bg;
                padding: 20px;
                border-radius: 10px 0px 0px 10px;


                @media ($breckpoint_SM) {
                    width: 100%;
                    border-radius: 10px 10px 0px 0px;
                }

                .data_sec {
                    padding-top: 15px;
                    text-align: center;

                    svg {
                        color: $secondary-color;
                    }

                    h3 {
                        font-size: 22px;
                        border-bottom: 0.5px solid $white;
                        padding: 10px 0px;
                        color: $txt-theme;
                    }

                    p {
                        font-size: 14px;
                        word-break: break-all;
                    }
                }

                .img_sec {
                    padding: 5px;
                    // background: $white;
                    border-radius: 50%;

                    img {
                        border-radius: 50%;
                        border: 1px solid $white;
                        padding: 10px;
                        width: 150px;

                    }
                }
            }

            .right_sec {
                width: 60%;
                padding: 20px;
                background: $white;
                border-radius: 0px 10px 10px 0px;

                @media ($breckpoint_SM) {
                    width: 100%;
                    border-radius: 0px 0px 10px 10px;
                }

                .name_sec {
                    text-align: center;

                    h1 {
                        font-size: 35px;
                        font-weight: 800;

                        @media ($breckpoint_LG) {
                            font-size: 28px;
                        }
                    }

                }

                .skills {


                    .skill_inner {

                        margin-left: 5px;

                        p {
                            margin-bottom: 5px;
                            font-size: 14px;
                        }
                    }

                    h1 {
                        margin-bottom: 0px;
                    }

                    hr {
                        margin: 10px 0px;
                    }
                }

                .about_me {
                    .about_inner {
                        margin-left: 5px;

                        p {
                            margin-bottom: 5px;
                            font-size: 14px;
                        }
                    }
                }

                .experience {
                    .exp_inner {
                        p {
                            font-size: 14px;
                        }

                        h4 {
                            font-size: 18px;
                        }
                    }
                }

                .education {
                    .edu_inner {
                        p {
                            font-size: 14px;
                        }

                        h4 {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

.position_style {
    text-align: left;
}

.profile_container {
    @media ($breckpoint_SM) {
        padding: 0px 30px !important;
    }

    @media ($breckpoint_ESM) {
        max-width: 325px !important;
    }

    p {
        @media ($breckpoint_SM) {
            font-size: 14px;
        }
    }

    svg {
        transition: all 0.4s linear;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.about_sec {
    background: $bg-gradient;
}